@tailwind base;
@tailwind components;
@tailwind utilities;

/* next-themes  ~~ default light theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* next-themes ~~ dark theme */
[data-theme="dark"] {
  --background: #1a1a1d;
  --foreground: #fafaf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Terminal CSS */
#terminalEditor {
  padding: 3rem;
}

@media screen and (max-width: 1536px) {
  #terminalEditor {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
