@tailwind base;
@tailwind components;
@tailwind utilities;

/* next-themes  ~~ default light theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* next-themes ~~ dark theme */
[data-theme="dark"] {
  --background: #1a1a1d;
  --foreground: #fafaf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#terminalEditor {
  padding: 3rem;
}
